<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>3.姓名案例_计算属性</title>
        <script type="text/javascript" src="../js/vue.js"></script>
    </head>
    <body>
        <!--
            计算属性：computed
            1.定义：要用的属性不存在，要通过vue对象已有的属性计算得来。 即属性必须再new Vue({})中的data{}里面
            2.原理：底层通过Object.defineproperty方法提供的getter和setter
            3. get函数什么时候执行？
                (1)初次读取时会执行一次
                (2)当依赖的数据发生变化时会被再次调用
            4.优势：与methods实现相比，内部有缓存机制。效率更高，测试方便
            5.备注
                1.计算属性最终会出现在vm上，直接读取即可。(不会出现在vm._data中)
                2.如果计算属性要被修改，那必须写set函数去响应修改，且set中要引起计算时依赖的数据发生变化。  
        -->

        <!-- 容器-->
        <div id="root">
            姓： <input type="text" v-model="firstName"><br/><br/>
            名： <input type="text" v-model="lastName"><br/><br/>
            全名：<span>{{fullName}}</span>
        </div>
        
        <script type="text/javascript">
            Vue.config.productionTip = false

            const vm = new Vue({
                el: '#root',
                data: {
                    firstName: '张',
                    lastName: '三'
                },
                computed:{
                    fullName:{
                        // get函数作用：当读取fullName时，get就会被调用，返回值就是fullName的值
                        
                        // get什么时候被调用：
                        // 1. 初次读取fullName时
                        // 2.所依赖的数据(firstName or lastName)发生变化时
                        get() {
                            return this.firstName + '-' + this.lastName //this ⇒ vm
                        },

                        // set什么时候被调用：
                        // 当fullName被修改时
                        set(fullNameValue) {
                            // eg. value 张-三
                            const arr = fullNameValue.split('-')
                            this.firstName = arr[0]
                            this.lastName = arr[1]
                        }
                    }
                }
            })
        </script>
    </body>
</html>